<% if @interestings %>
<h1><%=@interestings.title%></h1>
<h2><%=@interestings.summary%></h2>
<hr />

<h3>Events</h3>

  <%organize_page_content(convertPageText(@interestings.text), "Events").each do |interesting|%>
    <%=interesting%><br/>
  <% end %>



<h3>Births</h3>

  <%organize_page_content(convertPageText(@interestings.text), "Births").each do |interesting|%>
    <%=interesting%><br/>
  <% end %>



<h3>Holidays</h3>

  <%organize_page_content(convertPageText(@interestings.text), "Holidays and observances").each do |interesting|%>
    <%=interesting%><br/>
  <% end %>

<% end %>
